<!--
Student Name: Ronald JR Ombao
ID#: 301213219
Date: October 9, 2022
-->
<% layout('../views/layout/mainLayout') %>
  <div class="row">
    <div class="col-md-4">
      <div class="row my-2">
        <h1>
          <%- title %>
        </h1>
        <% if (isEdit) { %>
          <div class="row my-2">
            <form method="POST" action=<%- deleteAction %>>
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </div>
          <% } %>
            <form action="<%= action %> " method="POST">
              <div class="mb-3">
                <label for="contactName" class="form-label">Contact Name</label>
                <input type="text" class="form-control" id="contactName" placeholder="Contact Name" name="contactName"
                  required value="<%= typeof(currentContact) != undef ? currentContact.contactName : null %> ">
              </div>
              <div class="mb-3">
                <label for="contactNumber" class="form-label">Contact Number</label>
                <input type="tel" class="form-control" id="contactNumber" placeholder="Contact Number"
                  name="contactNumber" required value="<%= typeof(currentContact) != undef ?
                  currentContact.contactNumber : null %> ">
              </div>
              <!-- TODO: make sure form is empty -->
              <div class="mb-3">
                <label for="contactEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailAddress" placeholder="Email Address"
                  name="emailAddress" required value="<%= typeof(currentContact) != undef ?
                  currentContact.emailAddress : null %> ">
              </div>
              <div class="my-2">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
            <a href="/business-contacts/business-contacts-page">
              <button class="btn btn-primary">Cancel</button>
            </a>
      </div>
    </div>