<!-- 
    Student Name: Ronald Jr. Ombao
    ID#: 301213219
    Date: October 1, 2022
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="container-fluid h-100">
        <div class="row d-flex h-100">
            <%- include('../partials/header.ejs') -%>
                <section class="col-md-10 h-100 contentArea ">
                    <%- include('../partials/flashPartial.ejs') %>
                        <div class="row content overflow-auto">
                            <%- body %>
                        </div>
                        <%- include('../partials/footer.ejs') %>
                </section>
        </div>
    </main>
</body>

</html>